.container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(7, 50px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  justify-content: center;
  margin-top: 50px;
}
.screen {
  grid-column: 1 / 5;
  display: flex;
  background-color: lightgrey;
  height: 70%;
  align-items: center;
  justify-content: center;
}
.past {
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen,
.button-0,
.button-1,
.button-2,
.button-3,
.button-4,
.button-5,
.button-6,
.button-7,
.button-8,
.button-9 {
  background-color: lightgrey;
  border: black solid 1px;
  border-radius: 5px;
}
.button-0 {
  grid-column: 1 / 4;
  border-radius: 5px;
  border: black solid 1px;
}
.button-add {
  background-color: red;
  border-radius: 5px;
  border: black solid 1px;
}
.button-minus {
  background-color: red;
  border-radius: 5px;
  border: black solid 1px;
}
.button-divide {
  background-color: red;
  border-radius: 5px;
  border: black solid 1px;
}
.button-multiply {
  background-color: red;
  border-radius: 5px;
  border: black solid 1px;
}
.button-equal {
  background-color: green;
  border-radius: 5px;
  border: black solid 1px;
}
.button-C {
  background-color: blue;
  grid-column: 1 / 4;
  border-radius: 5px;
  border: black solid 1px;
}
